html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #001c2e;
}

:root {
  --dot-radius: 1px;
  --path-radius: 150px;
  --vp-width: 10vw;
  --vp-height: 10vw;

  --static-dot-color: hsl(197, 100%, 56%);
  --moving-dot-color: rgb(66, 255, 246);
}

.jp {
  position: absolute;
  z-index: 5;
  top: 2vh;
  left: 30%;
  width: 40%;
  height: auto;
}

.contactCard{
  transition: all 1s;
  z-index: 6;
  position: absolute;
  top: 47vh;
  border-radius: 10px;
  left: 37.5vw;
  width: 25vw;
  height: auto;
}

.contactCard:hover{
  transition: all 1s;
  height: auto;
  max-height: 90vh;
  width: 60vw;
  top: 2vh;
  left: 20vw;
  box-shadow: 0 0 5px #fff, 0 0 7px #4dfff0, 0 0 10px #4dd3ff, 0 0 15px #4dbbff, 0 0 25px #4d62ff;
}

.intro {
  position: absolute;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  z-index: 5;
  font-family: Neon;
  display: inline-block;
  font-size: 3vw;
  left: 38%;
  width: 20vw;
  top: 32%;
  text-align: center;
  color: rgb(220, 255, 219);
  text-shadow: 0 0 20px #fff, 0 0 30px #4dfff0, 0 0 40px #4dffe7, 0 0 50px #4dffff, 0 0 60px #4df9ff, 0 0 70px #4dffff, 0 0 80px #4dffff;
}

.jump{
  width: 30vw;
  height: 20vw;
  z-index: 1;
  border-radius: 15px;
  top: 128vh;
  left: 5vw;
  position: absolute;
  box-shadow: 0 0 5px #fff, 0 0 7px #4dfff0, 0 0 10px #4dd3ff, 0 0 15px #4dbbff, 0 0 17px #4d62ff;
}

.dont{
  width: 30vw;
  height: 20vw;
  z-index: 1;
  border-radius: 15px;
  top: 128vh;
  right: 5vw;
  position: absolute;
  box-shadow: 0 0 5px #fff, 0 0 7px #4dfff0, 0 0 10px #4dd3ff, 0 0 15px #4dbbff, 0 0 17px #4d62ff;
}

.vid{
  transition: all 0.5s;
  width: 20vw;
  height: 20vh;
  z-index: 2;
  border-radius: 15px;
  top: 145vh;
  left: 40vw;
  position: absolute;
  border: #00000000;
}

.vidOn{
  transition: all 0.5s;
  border: #fff;
  box-shadow: 0 0 5px #fff, 0 0 7px #4dfff0, 0 0 10px #4dd3ff, 0 0 15px #4dbbff, 0 0 17px #4d62ff;
}

.sec{
  height: 650vh;
  padding-top: 0%;
  width: 100vmax;
  margin: -1%;
  position: -webkit-sticky;
  top: 100%;
}

#guide {
  display: block;
  position: absolute;
  width: 0.5vw;
  border-radius: 5px;
  background-color: #4df9ff;
  box-shadow: 0 0 10px #fff, 0 0 15px #4dfff0, 0 0 20px #4dd3ff, 0 0 30px #4dbbff, 0 0 35px #4d62ff;
}

.centerGuide{
  top: 130vh;
  left: 49.8vw;
}

.sideGuide1{
  top: 175vh;
  left: 25vw;
}

.sideGuide2{
  top: 175vh;
  right: 25vw;
}

.guideH {
  display: block;
  position: absolute;
  top: 134vh;
  left: 10vw;
  width: 80vw;
  height: 0.5vw;
  background-color: #4df9ff;
  box-shadow: 0 0 10px #fff, 0 0 15px #4dfff0, 0 0 20px #4dd3ff, 0 0 30px #4dbbff, 0 0 35px #4d62ff;
}

.Title {
  text-align: center;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  font-family: Neon;
  border-radius: 5px;
  width: 15vw;
  z-index: 10;
  left: 42.5vw;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  position: absolute;
  top: 125vh;
  display: block;
  font-size: 5vh;
  color: rgb(219, 255, 247);
  text-shadow: 0 0 20px #fff, 0 0 30px #4dfff0, 0 0 40px #4dffe7, 0 0 50px #4dffff, 0 0 60px #4df9ff, 0 0 70px #4dffff, 0 0 80px #4dffff;
}

.quote {
  transition: all 0.5s;
  top: 170vh;
  left: 10vw;
  width: 80vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-family: Modern;
  color: rgb(0, 0, 0);
}

.quoteOn {
  transition: all 0.5s; 
  text-shadow: 0 0 20px #fff, 0 0 25px #4dffe7, 0 0 35px #4dffca, 0 0 30px #1df5b4;
  color: #ffffff;
  box-shadow: 0 0 5px #fff, 0 0 7px #4dfff0, 0 0 10px #4dd3ff, 0 0 15px #4dbbff, 0 0 17px #4d62ff;
  background-color: #0b0d23;
}

.txtOn{
  transition: all 0.6s;
  color: #4dffff;
  background-color: #0b0d23;
  box-shadow: 0 0 10px #fff, 0 0 15px #4dfff0, 0 0 20px #4dd3ff, 0 0 30px #4dbbff, 0 0 35px #4d62ff;
}

.txt1 {
  left: 3%;
  top: 200vh;
}

.canada{
  transition: 0.5s;
  position: relative;
  height: 25%;
  width: auto;
  z-index: 4;
  right: 0vw;
  border-radius: 100px;
  top: 3vh;
  border-radius: 10px;
  
}

.canadaOn{
  transition: all 1s;
  box-shadow: 0 0 5px #fff, 0 0 10px #ff5757, 0 0 15px #ff4242, 0 0 20px #ff3535, 0 0 25px #ff1919;
  background-color: #fff;
  animation:infinite 3s imgs;
}

.txt2 {
  right: 3%;
  top: 220vh;
}

.top10{
  transition: all 0.5s;
  position: relative;
  height: 40%;
  width: auto;
  z-index: 4;
  right:0vw;
  top:0%;
  border-radius: 10px;
}

.top10:hover{
  top: -60.5%;
  transition: all 1s;
  height: 105%;
  border-radius: 0px;

}

.txt3 {
  left: 3%;
  top: 250vh;
}

.txt4 {
  right: 3%;
  top: 270vh;
}

.achivement1
{
  position: absolute;
  right: 40vw;
  top: 270vh;
  height: 20vw;
  width: 5vw;
}

.bim1y2{
  z-index: 5;
  position: relative;
  border-radius: 10px;
  top: 65%;
  transition: all 1s;
  height: 30%;
  width: auto;
}

.bim1y2:hover{
  z-index: 6;
  transition: all 1s;
  top: 0%;
  height: 105%;
  border-radius: 0px;

}

.achivement2
{
  position: absolute;
  right: 26vw;
  top: 270vh;
  height: 20vw;
  width: 8vw;
}

.aoty{
  z-index: 5;
  transition: all 1s;
  position: relative;
  top: 65%;
  border-radius: 10px;
  height: 30%;
  left: 0%;
  width: auto;
}

.aoty:hover{
  z-index: 6;
  transition: all 1s;
  top: 20%;
  left: -158%;
  height: 80%;
  border-radius: 0px;

}

.achivement3
{
  position: absolute;
  right: 10vw;
  top: 270vh;
  height: 20vw;
  width: 5vw;
}

.grand{
  z-index: 5;
  position: relative;
  border-radius: 10px;
  top: 65%;
  left: 0%;
  transition: all 1s;
  height: 30%;
  width: auto;
}

.grand:hover{
  z-index: 6;
  transition: all 1s;
  top: 0%;
  left: -450%;
  height: 105%;
  border-radius: 0px;

}

.txt5 {
  left: 3%;
  top: 300vh;
}

.python{
  transition: 0.5s;
  position: relative;
  height: 30%;
  width: auto;
  z-index: 4;
  right: 0vw;
  border-radius: 100px;
  top: 3vh;
  border-radius: 10px;
  
}

.pythonOn{
  transition: all 1s;
  box-shadow: 0 0 20px #fff, 0 0 5px #f5ffcb, 0 0 7px #ebff00, 0 0 10px #e3ff00, 0 0 12px #eaff00, 0 0 15px #f1f100, 0 0 20px #ffff00;
  background-color: #fff;
  animation:infinite 3s imgs;
}

.txt6 {
  right: 3%;
  top: 320vh;
}

.dcc{
  transition: 0.5s;
  position: relative;
  height: 25%;
  width: auto;
  z-index: 4;
  right: 0vw;
  border-radius: 100px;
  top: 3vh;
  border-radius: 10px;
  
}

.dccOn{
  transition: all 1s;
  box-shadow: 0 0 5px #fff, 0 0 10px #88ff4d, 0 0 15px #acff4d, 0 0 17px #b8ff4d, 0 0 20px #90ff12;
  background-color: #fff;
  animation:infinite 3s imgs;
}

.txt7 {
  font-family: neon;
  z-index: 0;
  height: 145vh;
  width: 90vw;
  left: 3vw;
  top: 370vh;
  color: #00000089;
  font-size: 2vw;
}

.txtOn7{
  transition: all 0.6s;
  color: #ffffff;
  box-shadow: 0 0 5px #fff, 0 0 7px #4dfff0, 0 0 10px #4dd3ff, 0 0 15px #4dbbff, 0 0 17px #4d62ff;
  background-color: #0b0d23;
  text-shadow: 0 0 20px #fff, 0 0 30px #4dfff0, 0 0 40px #4dffe7, 0 0 50px #4dffff, 0 0 60px #4df9ff, 0 0 70px #4dffff, 0 0 80px #4dffff;
}

.txt8 {
  z-index: 0;
  height: 80vh;
  width: 30vw;
  left: 8vw;
  top: 530vh;
}

.txt9 {
  z-index: 0;
  height: 80vh;
  width: 30vw;
  right: 8vw;
  top: 530vh;
}

.Plink {
  border-radius: 0.5%;
  font-family: neon;
  font-size: 1.1vw;
  z-index: 3;
  left: 40.5vw;
  top: 387.5vh;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  color: #00ff88;
  background-color: #001c2e;
  display: block;
  position: absolute;
  text-align: center;
}

.Phide {
  border-radius: 0.5%;
  font-family: Arial;
  font-size: 2vh;
  z-index: 3;
  left: 38.5vw;
  width: 23vw;
  height: 7vh;
  top: 393.5vh;
  padding-bottom: 5vh;
  color: #8ffeff;
  background-color: #001c2e;;
  display: block;
  position: absolute;
  text-align: center;
}

.PhideCenter {
  border-radius: 0.5%;
  font-family: Arial;
  font-size: 5vh;
  z-index: 4;
  left: 37.5vw;
  width: 25vw;
  height: 7vh;
  top: 407vh;
  color: #8fffc9;
  background-color: #001c2e;;
  display: block;
  position: absolute;
  text-align: center;
}

.Pmain {
  position: absolute;
  top: 385vh;
  left: 37.5vw;
  width: 25vw;
  height: auto;
  border-radius: 10px;
}

.Pagree {
  position: absolute;
  top: 385vh;
  left: 10vw;
  height: auto;
  width: 20vw;
  border-radius: 10px;
  transition: all 0.5s;
}

.Pconcientiousness {
  position: absolute;
  top: 385vh;
  right: 10vw;
  height: auto;
  width: 20vw;
  border-radius: 10px;
  transition: all 0.5s;
}

.Pextraversion {
  position: absolute;
  top: 460vh;
  left: 10vw;
  height: auto;
  width: 20vw;
  border-radius: 10px;
  transition: all 0.5s;
}

.Pneuro {
  position: absolute;
  top: 460vh;
  right: 10vw;
  height: auto;
  width: 20vw;
  border-radius: 10px;
  transition: all 0.5s;
}

.Popenness {
  position: absolute;
  top: 460vh;
  left: 40vw;
  height: auto;
  width: 20vw;
  border-radius: 10px;
  transition: all 0.5s;
}

.Pagree:hover,
.Pconcientiousness:hover,
.Pextraversion:hover,
.Pneuro:hover,
.Popenness:hover{
  scale: 1.25;
  transition: all 0.5s;
}

.copyright{
  text-shadow: 0 0 20px #fff, 0 0 30px #4dfff0, 0 0 40px #4dffe7, 0 0 50px #4dffff, 0 0 60px #4df9ff, 0 0 70px #4dffff, 0 0 80px #4dffff;
}

@keyframes imgs{
  0%{
    scale:1;
  }
  50%{
    scale:1.5;
  }
  100%{
    scale:1;
  }
}