html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(130, 130, 130);
  border-radius: 5px;
}

@font-face {
  font-family: 'Neon';
  src: url('Neon.eot');
  src: url('WebFont.eot?#iefix') format('embedded-opentype'),
    url('Neon.woff') format('woff'),
    url('Neon.ttf') format('truetype'),
    url('Neon.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Modern';
  src: url('modern.eot');
  src: url('modern.eot?#iefix') format('embedded-opentype'),
    url('modern.woff') format('woff'),
    url('modern.ttf') format('truetype'),
    url('modern.svg#webfont') format('svg');
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: #000000;
}

.splash.display-none {
  opacity: 0;
  z-index: -9999;
  transition: all 2s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


.intro {
  position: absolute;
  line-height: 90vh;
  left: 36%;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  z-index: 5;
  font-family: Neon;
  display: inline-block;
  font-size: 80px;
  left: 14%;
  text-align: center;
  color: rgb(220, 255, 219);
  text-shadow: 0 0 20px #fff, 0 0 30px #90fdff, 0 0 40px #4db5ff, 0 0 50px #9d85ff, 0 0 60px #bc89ff, 0 0 70px #ff08f7, 0 0 80px #70007c;
}

.jp {
  position: absolute;
  z-index: 5;
  top: 5vh;
  left: 25%;
  width: 50%;
  height: 50vh;
}

.left-underline,
.mid-underline,
.right-underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.left-underline:before {
  background: linear-gradient(90deg, #2b00ff, #001aff, #0099ff, #00f7ff);
}

.mid-underline:before {
  background: linear-gradient(90deg, #00ff62, #15ff00, #bfff00, #fff700);
}

.right-underline:before {
  background: linear-gradient(90deg, #7b00ff, #e100ff, #ff00b7, #ff85d0);
}

.left-underline:before,
.mid-underline:before,
.right-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background-size: 300% 100%;
  height: 15%;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.50s;
  transition-duration: 0.50s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-animation: fot 4s ease infinite;
  -moz-animation: fot 4s ease infinite;
  -o-animation: fot 4s ease infinite;
  animation: fot 4s ease infinite;
}

.left-underline:hover:before,
.left-underline:focus:before,
.left-underline:active:before,
.mid-underline:hover:before,
.mid-underline:focus:before,
.mid-underline:active:before,
.right-underline:hover:before,
.right-underline:focus:before,
.right-underline:active:before {
  right: 0;
}

div.navbar {
  position: fixed;
  scroll-margin-top: initial;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.9);
  z-index: 100;
}

div.navbar>ul.navbar-container {
  list-style-type: none;
  margin: 0;
  padding-left: 5vw;
  padding-right: 0%;
  overflow: hidden;
}

div.navbar>ul>li.nav-item {
  float: left;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

div.navbar>ul>li.active {
  background-color: rgba(0, 0, 0, 0.3);
}

div.navbar>ul>li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

a.nav-button {
  font-family: 'Neon';
  font-size: 2.5vw;
  text-decoration: none;
  line-height: 150%;
  width: 30vw;
  color: rgb(255, 255, 255);
  text-align: center;
  transition: all 0.5s ease;
}

.sec1 {
  height: 650vh;
  padding-top: 0%;
  width: 100vmax;
  margin: -1%;
  position: -webkit-sticky;
  top: 100%;
}

.sec1Title {
  text-align: center;
  font-family: Neon;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 5px;
  z-index: 5;
  left: 38%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  position: absolute;
  top: 70vh;
  display: block;
  font-size: 3em;
  color: rgb(220, 255, 219);
  text-shadow: 0 0 20px #fff, 0 0 30px #4dfff0, 0 0 40px #4dffe7, 0 0 50px #4dffff, 0 0 60px #4df9ff, 0 0 70px #4dffff, 0 0 80px #4dffff;
}

.quote {
  top: 150%;
  left: 42%;
}

.sec1bak,
.sec1side {
  position: sticky;
  left: 0;
}

.sec1bak {
  top: 0%;
  height: 20%;
  width: 100vmax;
  z-index: -5;
}

.sec1side {
  left: 0;
  top: 1%;
  height: 20%;
  width: 20%;
  object-fit: fill;
  z-index: 1;
}

.sec1Txt1,
.sec1Txt2,
.sec1Txt3,
.sec1Txt4,
.sec1Txt5,
.sec1Txt6,
.sec1Txt7,
.quote {
  border-radius: 20px;
  color: #ffffff;
  font-size: 1.2em;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 2;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
}

.sec1Txt1 {
  left: 30%;
  top: 200vh;
}

.sec1Txt2 {
  left: 58%;
  top: 220vh;
}

.sec1Txt3 {
  left: 30%;
  top: 250vh;
}

.sec1Txt4 {
  left: 10%;
  top: 270vh;
}

.sec1Txt5 {
  left: 50%;
  top: 300vh;
}

.sec1Txt6 {
  left: 20%;
  top: 330vh;
}

.sec1Txt7 {
  font-family: neon;
  left: 33%;
  top: 370vh;
  text-shadow: 0 0 20px #fff, 0 0 30px #4dfff0, 0 0 40px #4dffe7, 0 0 50px #4dffff, 0 0 60px #4df9ff, 0 0 70px #4dffff, 0 0 80px #4dffff;
  color: #ffffff;
  font-size: 2vw;
}

.Plink {
  border-radius: 0.5%;
  font-family: neon;
  font-size: 1.1vw;
  z-index: 3;
  left: 40vw;
  top: 387vh;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  color: #be1862;
  background-color: rgb(250, 250, 250);
  display: block;
  position: absolute;
  text-align: center;
}

.Phide {
  border-radius: 0.5%;
  font-family: Arial;
  font-size: 1vw;
  z-index: 3;
  left: 37.5vw;
  top: 392vh;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0em;
  padding-right: 0em;
  color: #1b1b1b;
  background-color: rgb(250, 250, 250);
  display: block;
  position: absolute;
  text-align: center;
}

.Pmain {
  position: absolute;
  top: 384vh;
  left: 36.5vw;
  height: 55vh;
  width: 25%;
}

.Pagree {
  position: absolute;
  top: 450vh;
  left: 15vw;
  height: 55vh;
  width: 25%;
}

.Pconcientiousness {
  position: absolute;
  top: 470vh;
  left: 60vw;
  height: 55vh;
  width: 25%;
}

.Pextraversion {
  position: absolute;
  top: 520vh;
  left: 30vw;
  height: 55vh;
  width: 25%;
}

.Pneuro {
  position: absolute;
  top: 540vh;
  left: 70vw;
  height: 55vh;
  width: 25%;
}

.Popenness {
  position: absolute;
  top: 580vh;
  left: 20vw;
  height: 55vh;
  width: 25%;
}

.sec2 {
  height: 650vh;
  padding-top: 0%;
  width: 100vmax;
  margin: -1%;
  position: -webkit-sticky;
  top: 650vh;
}

.sec2Title {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 15px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 5px;
  z-index: 5;
  left: 35%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  position: absolute;
  top: 650vh;
  display: block;
  font-size: 3em;
  color: rgb(220, 255, 219);
  text-shadow: 0 0 20px #fff, 0 0 30px #4dff56, 0 0 40px #4dff65, 0 0 50px #53ff4d, 0 0 60px #4dff56, 0 0 70px #5cff4d, 0 0 80px #4dff4d;
}

.sec2bak {
  position: sticky;
  left: 0;
  top: 0%;
  height: 100vh;
  width: 100vmax;
  z-index: -5;
}

.sec3 {
  height: 650vh;
  padding-top: 0%;
  width: 100vmax;
  margin: -1%;
  position: -webkit-sticky;
  top: 1300vh;
}

.sec3Title {
  text-align: center;
  font-family: modern;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 5px;
  z-index: 5;
  left: 40%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  position: absolute;
  top: 1300vh;
  display: block;
  font-size: 3em;
  color: rgb(220, 255, 219);
  text-shadow: 0 0 20px rgb(146, 146, 146), 0 0 30px #f04dff, 0 0 40px #ea4dff, 0 0 50px #f94dff, 0 0 60px #e14dff, 0 0 70px #d54dff, 0 0 80px #b84dff;
}

.sec3bak {
  position: sticky;
  left: 0;
  top: 0%;
  height: 100vh;
  width: 100vmax;
  z-index: -5;
}

.copyright {
  position: absolute;
  top: 4000vh;
}

@-webkit-keyframes fot {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes fot {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-o-keyframes fot {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes fot {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}